streamlit
langchain-groq
langchain-openai
langchain-google-genai
langchain-community==0.3.1
langchain-core
langchain-text-splitters
langchain-huggingface
langgraph
duckduckgo-search==6.1.0
pypdf
faiss-cpu
sentence-transformers
wikipedia
arxiv
langsmith
