streamlit
langchain-groq
langchain-openai
langchain-google-genai
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langgraph
duckduckgo-search>=6.0.0
pypdf
faiss-cpu
sentence-transformers
wikipedia
arxiv
langsmith
